.wrapper {
    width: 75%;
    margin: 5% auto;
}

.byee-me {
    font-size: 13px;
    text-align: center;
    margin: 10px 0;
}

.byee-me strong{
    color: red;
}

.result {
    display: none;
    border: 1px dashed #909090;
    background: #B5ECF7;
    padding: 10px;
    margin: 1% 0;
}

.rendered-content {
    margin: 0 auto;
    background: #f0f0f0;
    word-wrap: break-word;
}

.summary p {
    margin: 0;
    padding: 0;
    font-size: 12px;
    font-weight: bold;
}

small.error {
    display: none;
    margin-top: 0;
    padding-top: 3rem;
    text-align: left;
}

span.error {
    display: none;
}
